* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.page-layout {
  display: grid;

  grid-template-columns: 200px 1fr 200px;

  gap: 20px;

  padding: 20px;
}
.header,
.hero,
.footer {
  grid-column: 1 / -1;
}
.header,
.hero,
.sidebar,
.main-content,
.ads,
.footer {
  background: white;

  padding: 20px;

  border-radius: 12px;
}
.header {
  background: #111827;

  color: white;

  font-size: 24px;

  font-weight: bold;
}
.hero {
  background: #2563eb;

  color: white;

  min-height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;

  font-weight: bold;
}
.sidebar {
  min-height: 400px;
}
.main-content {
  min-height: 400px;
}

.ads {
  min-height: 400px;
}

.footer {
  text-align: center;

  background: #111827;

  color: white;

  padding: 30px;

  font-weight: bold;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar label {
  display: block;

  margin-bottom: 14px;
}
.product-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  margin-top: 20px;
}
.card {
  background: white;

  padding: 16px;
}
.image {
  height: 140px;

  background: #cbd5e1;

  display: flex;

  justify-content: center;

  align-items: center;
}
.card:hover {
  transform: translateY(-5px);
}
.ads h2 {
  margin-bottom: 20px;
}

.ad-banner {
  height: 300px;

  background: #cbd5e1;

  display: flex;

  justify-content: center;

  align-items: center;

  font-weight: bold;
}
.featured {
  grid-column: span 2;
}
